html,
body {
  overflow: hidden;
  touch-action: none; /* Interdit le zoom et le scroll sur mobile */
}

/* L'étoile (*) cible absolument TOUS les éléments pour tuer leurs marges */
* {
  margin: 0;
  padding: 0;
}

/* On garde le # car tu as un ID */
#webgl {
  position: fixed;
  top: 0;
  left: 0;
  touch-action: none;
}